<header id="header" class="header">
  <nav id="main-nav" class="main-nav">
    <% for (var i in theme.menu){ %>
      <a class="main-nav-link" href="<%- url_for(theme.menu[i]) %>">
        <%= i %>
      </a>
      <% } %>
  </nav>
  <link rel="stylesheet" href="//cdn.bootcss.com/highlight.js/9.2.0/styles/mono-blue.min.css">
  <script src="//cdn.bootcss.com/highlight.js/9.2.0/highlight.min.js"></script>
  <!-- gruvbox-dark  ,monokai-sublime,zenburn -->
  <!-- railscasts   mono-blue  tomorrow  androidstudio  monokai-->
  <script>
  hljs.initHighlightingOnLoad();

  </script>
  <nav id="sub-nav">
    <% if (theme.rss){ %>
      <a id="nav-rss-link" class="nav-icon" href="<%- theme.rss %>" title="<%= __('rss_feed') %>"></a>
      <% } %>
        <br/>
        <p id="text"> </p>
        <div class="descriptionwrapper">
          <p class="description"> </p>
        </div>
        <% if(page.archive){ %>
          <script>
          (function() {
            var cx = '007353942166503285590:dkdb_c3efim';
            var gcse = document.createElement('script');
            gcse.type = 'text/javascript';
            gcse.async = true;
            gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(gcse, s);
          })();

          </script>
          <gcse:search></gcse:search>
          <%}%>
  </nav>
</header>
