#content h1:not(.post-title) {
    background: #2B6600;
    border-radius: 6px 6px 6px 6px;
    box-shadow: 0 0 0 1px #5F5A4B, 1px 1px 6px 1px rgba(10, 10, 0, 0.5);
    color: #FFFFFF;
    font-family: "Î¢ÈíÑÅºÚ" , "ËÎÌå" , "ºÚÌå" ,Arial;
    font-size: 25px;
    //font-weight: bold;
    height: 35px;
    line-height: 25px;
    margin: 12px 0 !important;
    padding: 15px 0 5px 20px;
    text-shadow: 2px 2px 3px #222222;

}

#content h2 {
    background: #008eb7;
    border-radius: 6px 6px 6px 6px;
    box-shadow: 0 0 0 1px #5F5A4B, 1px 1px 6px 1px rgba(10, 10, 0, 0.5);
    color: #FFFFFF;
    font-family: "Î¢ÈíÑÅºÚ" , "ËÎÌå" , "ºÚÌå" ,Arial;
    font-size: 20px;
    height: 25px;
    line-height: 17px;
    margin: 12px 0 !important;
    padding: 15px 0 5px 20px;
    text-shadow: 2px 2px 3px #222222;
}
/*
#content h3 {
    background: #FFA31E;
    border-radius: 6px 6px 6px 6px;
    box-shadow: 0 0 0 1px #5F5A4B, 1px 1px 6px 1px rgba(10, 10, 0, 0.5);
    color: #FFFFFF;
    font-family: "Î¢ÈíÑÅºÚ" , "ËÎÌå" , "ºÚÌå" ,Arial;
    font-size: 20px;
    height: 25px;
    line-height: 17px;
    margin: 12px 0 !important;
    padding: 15px 0 5px 20px;
    text-shadow: 2px 2px 3px #222222;
}
*/


#content h3 {
    font-size: 20px;
    padding-right: 64px;
    padding-left: 10px;
    border-left-width: 3px;
    border-left-style: solid;
    border-left-color: #2175bc;
    padding-top: 0px;
}


h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
    font-weight: normal;
}

